<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
      <ul class="navbar-nav mr-auto d-flex align-items-center">
        <li class="nav-item active">
          <img src="https://i.pinimg.com/564x/b7/a5/de/b7a5dec74ebb9f9aad41a47a2f8b6b21.jpg" alt="Imagem de perfil do usuário" 
          width="50px" height="50px" class="img-fluid rounded-circle">
        </li>

        <li class="nav-item pl-3">
          <p class="m-0 font-weight-bold text-black fs-16">Nome do usuário</p>
        </li>

        <li class="nav-item pl-3">
            <a href="#" class="color-hiperlink-0">
                <p class="fs-16 m-0">
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                </p>
            </a>
        </li>
      </ul>

      <ul class="navbar-nav ml-auto d-flex align-items-center">
        <li class="nav-item pl-3">
            <a href="#" class="m-0 font-weight-bold fs-16 color-hiperlink-0">
                Sair 
                <i class="fa fa-sign-out" aria-hidden="true"></i>
            </a>
        </li>
      </ul>
    </div>
  </nav>
